<h2>Add Medal</h2>


<form action="/medals" method="post">

<label for="type">Select a Type (Gold, Silver, Bronze):</label>
<select name="type">
<% @medals.each do |medal| %>
<option  value="<%= medal.type %>"><%= medal.type %></option>
<%end%>
</select>


<label for="event"> Select an Event</label>
<select name="event_id">
<% @events.each do |event| %>
<option  value="<%= event.id %>"><%= event.name %></option>
<%end%>
</select>


<label for="athlete"> Select an Athlete</label>
<select name="athlete_id">
<% @athletes.each do |athlete| %>
<option  value="<%= athlete.id %>"><%= athlete.name %></option>
<%end%>
</select>

<input type='submit' value="Add Medal">
</form>

<br>
<br>
<a href="/">Back</a>